<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Flask: Miniblog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="main">
        {% for post in posts %}
            {% if loop.index%2 == 0 %}
                <div class="index-div index-div-even">
                    <a href={{ url_for('show_post_slug', slug = post) }}>
                        {{ post }}
                    </a>
                </div>
            {% else %}
                <div class="index-div index-div-odd">
                    <a href={{ url_for('show_post_slug', slug = post) }}>
                        {{ post }}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>