<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Flask: Miniblog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
    </style>
</head>
<body>
    <div id="main">

        <!-- B O D Y -->
        <div id="index-body">

            <!-- H E A D E R -->
            <div id="header">
                <div id="index-title-content">
                    <h1>Recent posts</h1>
                </div>
            </div>

            <!-- P O S T S -->
            <div id="posts">
                {% for post in posts %}
                    {% if loop.index%2 == 0 %}
                        <div class="index-div index-div-even">
                            <a href={{ url_for('show_post_content', title = post) }}>
                                {{ post }}
                            </a>
                        </div>
                    {% else %}
                        <div class="index-div index-div-odd">
                            <a href={{ url_for('show_post_content', title = post) }}>
                                {{ post }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- F O O T E R -->
        <footer id="footer">
            <div id="index-footer-content">
                <!-- V O I D -->
                <div id="void-footer-div"></div>

                <!-- L E F T -->
                <div id="left-footer-div">
                    {%if posts.page != 0%}
                        <a class="page-link" href={{ url_for('home', pagenum = posts.page-1) }}> {{posts.page - 1}} </a>
                    {%endif%}
                </div>
                <!-- C E N T E R -->
                <div id="center-footer-div">
                    {{posts.page}}
                </div>

                <!-- R I G H T -->
                <div id="right-footer-div">
                    {% if not posts.isLastPage and not posts.isVoidNextPage %}
                        <a class="page-link" href = {{ url_for('home', pagenum = posts.page+1) }}> {{posts.page + 1}} </a>
                    {% endif %}
                </div>

                <!-- V O I D -->
                <div id="void-footer-div"></div>
            </div>
        </footer>

        

    </div>
</body>
</html>