<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Flask: Miniblog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="main">

        <!-- H E A D E R -->
        <div id="header">
            <div id="index-title-content">
                <h1>Recent posts</h1>
            </div>
        </div>

        <!-- P O S T S -->
        <div id="posts">
            {% for post in posts %}
                {% if loop.index%2 == 0 %}
                    <div class="index-div index-div-even">
                        <a href={{ url_for('show_post_slug', slug = post) }}>
                            {{ post }}
                        </a>
                    </div>
                {% else %}
                    <div class="index-div index-div-odd">
                        <a href={{ url_for('show_post_slug', slug = post) }}>
                            {{ post }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- F O O T E R -->
        <footer id="footer">
            <div id="index-footer-content">
                <span> Copyright 2016, Original Trombones </span>
            </div>
        </footer>

    </div>
</body>
</html>