<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>{{ post_title }}</title>
</head>
<body>
    <div id = "post-main">
      <div id="post-index-body">
        
        <div id="title">
          <div id="title-content">
            <h1>{{ post_title }}</h1>
          </div>
        </div>

        <div id="post-body">
            <h2>{{ post_body }}</h2>
        </div>

      </div>

      <div id = "void-div"></div>

    </div>
</body>
</html>