html {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
}

body{
    margin: 0;
}

#main{
    padding-bottom: 30px;
    background-repeat: no-repeat, repeat;
    overflow-x: hidden;
    /*height: 100vh;*/

    background-color: rgb(240, 240, 240);;
}

#header{
    position: fixed;
    white-space: nowrap;
    margin-bottom: 5px;
  
    background-color: inherit;
  
    width: 100%;
    height: 10vh;

    border: solid;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-color: black;
}

#posts{
    margin-top: 10vh;

    height: 80vh;
}

.index-div{
    width: 100vw;
    border-left: transparent;
    border-right: transparent;

    color: black;
    line-height: 2.5vh;

    height: 2.5vh;
}

.index-div a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.index-div a:hover{
    color: coral;
}

.index-div-even{
    background-color: rgb(240, 240, 240);
}

.index-div-odd{
    background-color: rgb(215, 215, 215);
}

#title-content{
    margin-top: 30px;
    margin-bottom: 30px;
}

#index-title-content{
    margin-top: 30px;
    margin-bottom: 30px;

    line-height: 3vh;
}

#index-footer-content{
    margin-top: 30px;
    margin-bottom: 30px;

    line-height: 3vh;
}

#title h1{
font-family: "Lato";
font-weight: bold;
font-size: 30px;
text-align: center;
position: relative;
}

#index-title-content h1{
    font-family: "Lato";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    position: relative;
}

#index-footer-content span{
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    position: relative;
}

#footer{
    position: fixed;
    white-space: nowrap;
    margin-bottom: 5px;
  
    background-color: inherit;
  
    width: 100%;
    height: 10vh;

    border: solid;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-color: black;
}