html {
    font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: bold;

    background-color: rgb(50, 50, 50);
}

body{
    margin: 0;
    padding-top: 5vh;
    overflow-x: hidden;
}

#index-body{
    margin-left: 20vw;
    height: auto;
    width: 58vw;
    margin-right: 21vw;
    padding-top: 21px;
    padding-bottom: 20px;

    background-color: rgb(82, 85, 89);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

/* INDEX PAGE */

#header{
    white-space: nowrap;
  
    background-color: rgb(82, 85, 89);
  
    width: 58vw;
    height: 10vh;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-color: black;

    padding-top: 20px;
}

#posts{
    width: 58vw;
    background-color: rgb(82, 85, 89);
    border-top: transparent;
}

.index-div{
    border-left: transparent;
    border-right: transparent;

    color: black;
    line-height: 3.5vh;

    height: 3.5vh;
    height: auto;
    padding-left: 25px;
    background-color: rgb(82, 85, 89);
    
    padding: auto;
    padding-right: 30px;
}

.index-div a{
    text-decoration: none;
    color: rgb(90, 200, 250);
}

.index-div a:hover{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#index-title-content{
    margin-top: 15px;

    line-height: 3vh;
}

#index-footer-content{
    margin-top: 7px;
    margin-bottom: 10px;
    width: 100vw;
    height: 5vh;
    line-height: 3vh;
    text-align: center;
}

#title h1{
font-family: "Lato";
font-weight: bold;
font-size: 30px;
text-align: center;
position: relative;
padding-left: 25px;
}

#index-title-content h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Lato';
    font-weight: bold;
    font-size: 35px;
    text-align: left;
    position: relative;
    padding-left: 25px;

    color: whitesmoke;
}

#footer{
    text-shadow: 0 6px 10px rgb(0 0 0 / 0.6);
    white-space: nowrap;
    padding-bottom: 25px;

    margin-top: 25px;
  
    background-color: #333333;
  
    width: 100vw;
    height: 5vh;

    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
}

#left-footer-div{
    display: inline-block;
    width: 3vw;
    background-color: inherit;
    font-size: 10px;
}

#center-footer-div{
    display: inline-block;
    width: 6vw;
    background-color: inherit;
    font-size: 50px;
    color: whitesmoke;
}

#right-footer-div{
    display: inline-block;
    width: 3vw;
    background-color: inherit;
    font-size: 10px;
}

#void-footer-div{
    width: 44vw;
    display: inline-block;
}

.page-link{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}

.page-link:hover{
    color: rgb(90, 200, 250);
    font-size: 50px;
}

/* POST VIEW */

#post-body{
    padding-left: 55px;
    height: auto;
    color: rgb(90, 200, 250);
    font-size: 11px;
    padding-right: 40px;
}

#title-content{
    color: whitesmoke;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-right: 50px;
    padding-left: 30px;

    height: auto;
}

#title-content h1{
    text-align: center;
}

#post-index-body{
    margin-left: 20vw;
    width: 58vw;
    margin-right: 21vw;
    padding-top: 21px;
    padding-bottom: 35px;
    margin-bottom: 45px;

    min-height: 100vh;

    background-color: rgb(82, 85, 89);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#post-main{
    background-repeat: no-repeat, repeat;
    height: 100vh;
    background-color: rgb(50, 50, 50);
}

#void-div{
    height: 35px;
    width: auto;
}